<div class="container job-portal">
	<h1 class="d-flex justify-content-center">Search jobs suitable for you</h1>
	<hr />
	<div class="row">
		<div class="col-md-3">
			<h5>Filters</h5>
		</div>
		<div class="col-md-9">
			<form>
			  <div class="form-group">
			    <label for="search" class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></label>
			    <input class="form-control form-control-lg" id ="search" type="text" placeholder="search job here">
			  </div>
			</form>
		</div>
	</div>
</div>
