<div class="container-fluid job-headline">
	<div class="row">
		<form>
			  <div class="form-group">
			    <label for="search" class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></label>
			    <input class="form-control form-control-lg" id ="search" type="text" placeholder="search jobs here" [(ngModel)]="term" name="term">
			  </div>
		</form>
	<hr />
	</div>
</div>

<div class="container-fluid job-portal">
	<div class="row">
		<div class="col-md-3">
			<!-- <div class="filter-head">
				<h5>Filters</h5><hr />
			</div> -->
			<app-filters></app-filters>
		</div>

		<div class="col-md-6">
			<ul class="jobs-list">
				<li *ngFor="let joblist of jobList | filter: term | sortBy: 'team'">
					<div class="row">
						<div class="col-md-2">
							<img src="{{joblist.logo}}" class="job-list-img" alt="Startup">
						</div>
						<div class="col-md-7 jobs-list-details">
							<h3>{{joblist.company}}</h3>
							<h5>
								<i class="fa fa-eercast" aria-hidden="true"></i>
								 {{joblist.position}}
							</h5>
							<h5>
								<i class="fa fa-briefcase" aria-hidden="true"></i>
								 {{joblist.type}}
							</h5>
							<h5>
								<i class="fa fa-inr" aria-hidden="true"></i>
								 {{joblist.salary}}
							</h5>
							<h5>
								<i class="fa fa-map-marker" aria-hidden="true"></i>
								 {{joblist.location}}
							</h5>
							<h5>
								<i class="fa fa-users" aria-hidden="true"></i>
								 {{joblist.team}}
							</h5>
							<h5><a href="{{joblist.applyUrl}}"> {{joblist.website}}</a></h5>
						</div>
						<div class="col-md-3 jobs-apply">
							<a href="{{joblist.applyUrl}}">Apply Now</a>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<div class="col-md-3">
			<div class="filter-head">
				<h5>Explore more</h5><hr />
			</div>
		</div>
	</div>
</div>
