$primary-color : #66E54C;
$bg-color : grey;
$dark-color : #1a1a1a; 

@mixin border-radius($radius) {
	-webkit-border-radius:$radius;
	   -moz-border-radius:$radius;
	    -ms-border-radius:$radius;
	     -o-border-radius:$radius;
	        border-radius:$radius;
}

@mixin box-shadow($x, $y, $blur, $color, $inset:false){
	@if $inset {
		-webkit-box-shadow:inset $x $y $blur $color;
		   -moz-box-shadow:inset $x $y $blur $color;
		    -ms-box-shadow:inset $x $y $blur $color;
		     -o-box-shadow:inset $x $y $blur $color;
	}
	@else {
		-webkit-box-shadow: $x $y $blur $color;
		   -moz-box-shadow: $x $y $blur $color;
		    -ms-box-shadow: $x $y $blur $color;
		     -o-box-shadow: $x $y $blur $color;
	}
}

.job-portal{
	
}
.job-headline{
	text-align: center;
	position: relative;
	background:linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('/assets/images/workplace.jpg');
	background-size: cover;
	@include box-shadow(0px, 0px, 1px, #555, inset);
	height: 200px;
	form {
		width: 100%;
	    padding-left: 10%;
	    padding-right: 10%;
	    margin-top: 70px;
	    #search {
	    	    background: transparent;
			    border: 2px solid #f0f0f0;
			    color: #f0f0f0;
			    padding-left: 50px;
			&::placeholder{
				color:rgba(255,255,255,0.7);
			}
	    }
	    label {
	    	    position: absolute;
			    left: 11%;
			    font-size: 20px;
			    color: #fff;
			    margin-top: 9px;
	    }
	}
}
.portal-style {
	padding-top: 15px;
	padding-bottom: 15px;
}
.job-portal .col-md-3 {
	@extend .portal-style;
	background: #f5f5f5;
}
.job-portal .col-md-9 {
	@extend .portal-style;
	background: #fafafa;
}
.jobs-list {
	list-style: none;
	padding-left: 0px;
	li {
		height: auto;
		padding: 10px;
		@include border-radius(1px);
		@include box-shadow(0px, 0px, 1px, #555);
		margin-bottom: 30px;
	}
}

.job-list-img {
	@include box-shadow(0px, 0px, 1px, #9e9e9e);
	width: 100%;
	height: auto;
}

.jobs-list-details {
	letter-spacing: 1px;
	h4 {
		color:#333;
		font-size: 23px;
		padding-bottom: 10px;
	}

	h5 {
		color:#666;
		font-size: 15px;
		padding-bottom: 5px;
		a {
			color:#666;
			text-decoration: underline;
			font-size: 12px;
		}
	}
}

.jobs-apply {
    float: right;
    padding: 10px 20px;
    background: $primary-color;
    color:#fff;
    transition: all 0.4s ease;
    text-decoration: none;
    @include border-radius(7px);
    &:hover{
    	background:$dark-color;
    	color:$primary-color;
    	padding: 10px 30px;
    }
}






























