<div class="container-fluid job-headline">
	<div class="row">
		<form>
			  <div class="form-group">
			    <label for="search" class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></label>
			    <input class="form-control form-control-lg" id ="search" type="text" placeholder="search job here">
			  </div>
		</form>
	<hr />
	</div>
</div>

<div class="container-fluid job-portal">
	<div class="row">
		<div class="col-md-3">
			<h5>Filters</h5>
		</div>
		<div class="col-md-9">

	<ul class="jobs-list">
		<li *ngFor="let joblist of jobList">
			<div class="row">
				<div class="col-md-2">
					<img src="/assets/images/jobs/startup.png" class="job-list-img" alt="Startup">
				</div>
				<div class="col-md-10 jobs-list-details">
					<div class="row">
						<div class="col-md-6"><h4>{{joblist.company}}</h4></div>
						<div class="col-md-6"><a href="{{joblist.applyUrl}}" class="jobs-apply">Apply Now</a></div>
					</div>

					<h5>
						<i class="fa fa-eercast" aria-hidden="true"></i>
						 {{joblist.position}}
					</h5>

					<h5>
						<i class="fa fa-briefcase" aria-hidden="true"></i>
						 {{joblist.type}}
					</h5>

					<h5>
						<i class="fa fa-inr" aria-hidden="true"></i>
						 {{joblist.salary}}
					</h5>

					<h5>
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						 {{joblist.location}}
					</h5>

					<h5>
						<i class="fa fa-users" aria-hidden="true"></i>
						 {{joblist.team}}
					</h5>

					<h5><a href="#"> {{joblist.website}}</a></h5>
				</div>
			</div>
		</li>
	</ul>
		</div>
	</div>
</div>
