<div class="filter-head">
	<h5>Filters</h5><hr />
	<form novalidate>
	  	<div class="form-check">
		  <label class="form-check-label">
		  	<label class="checkbox-filter-label"></label>
		    <input class="form-check-input" type="checkbox" value="" > Bangalore
		  </label>
		</div>
		<div class="form-check">
		  <label class="form-check-label">
		  	<label class="checkbox-filter-label"></label>
		    <input class="form-check-input" type="checkbox" value=""> Chennai
		  </label>
		</div>
	</form>

</div>
